Repository AndrewHKautuka/Student-Loans-eBonder-React: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{json,md,css,scss,yml,yaml}": ["prettier --write"]
}

Add CI workflows for Docker and main application
  .github/workflows/docker-image-ci.yml
  .github/workflows/main-ci.yml
Due: prettier --write

Update Dockerfile to use pnpm for dependency management
  Dockerfile
Due: none

Update ESLint and Vite configurations to exclude .github directory
  eslint.config.js
  vite.config.ts
Due: eslint --fix

Initialize shadcn
  app/app.css
  app/lib/utils.ts
  components.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Update theme variables
  app/app.css
Due: prettier --write

Add shadcn Button component
  app/components/ui/button.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add shadcn Label component
  app/components/ui/label.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add shadcn Card component and its subcomponents
  app/components/ui/card.tsx
Due: eslint --fix

Add shadcn Badge component
  app/components/ui/badge.tsx
Due: eslint --fix

Add shadcn Input component
  app/components/ui/input.tsx
Due: eslint --fix

Add shadcn InputOTP component
  app/components/ui/input-otp.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add shadcn Textarea component
  app/components/ui/textarea.tsx
Due: eslint --fix

Add shadcn Switch component
  app/components/ui/switch.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add shadcn Skeleton component
  app/components/ui/skeleton.tsx
Due: eslint --fix

Add shadcn Select component
  app/components/ui/select.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add shadcn RadioGroup component
  app/components/ui/radio-group.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add shadcn Separator component
  app/components/ui/separator.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add shadcn Form component and its subcomponents
  app/components/ui/form.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add shadcn Table component and its subcomponents
  app/components/ui/table.tsx
Due: eslint --fix

Add shadcn Accordion component and its subcomponents
  app/components/ui/accordion.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add shadcn Avatar component and its subcomponents
  app/components/ui/avatar.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add shadcn Alert component and its subcomponents
  app/components/ui/alert.tsx
Due: eslint --fix

Add shadcn Dialog component and its subcomponents
  app/components/ui/dialog.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add shadcn AlertDialog component and its subcomponents
  app/components/ui/alert-dialog.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add shadcn Tooltip component and its subcomponents
  app/components/ui/tooltip.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add shadcn Pagination component and its subcomponents
  app/components/ui/pagination.tsx
Due: eslint --fix

Add shadcn NavigationMenu component and its subcomponents
  app/components/ui/navigation-menu.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add shadcn Sheet component and its subcomponents
  app/components/ui/sheet.tsx
Due: eslint --fix

Add shadcn Sonner Toaster component and update dependencies
  app/components/ui/sonner.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add shadcn Sidebar component and useIsMobile hook
  app/components/ui/sidebar.tsx
  app/hooks/use-is-mobile.ts
Due: eslint --fix

Add shadcn Toggle component
  app/components/ui/toggle.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add shadcn ToggleGroup component
  app/components/ui/toggle-group.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add shadcn Popover component and update dependencies
  app/components/ui/popover.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add shadcn Calendar component
  app/components/ui/calendar.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add shadcn DropdownMenu component and its subcomponents
  app/components/ui/dropdown-menu.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add shadcn Progress component
  app/components/ui/progress.tsx
Due: eslint --fix

Add shadcn Slider component
  app/components/ui/slider.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add shadcn ScrollArea component
  app/components/ui/scroll-area.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add shadcn Command component
  app/components/ui/command.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add shadcn Checkbox component
  app/components/ui/checkbox.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write
