Repository AndrewHKautuka/Student-Loans-eBonder-React: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{json,md,css,scss,yml,yaml}": ["prettier --write"]
}

Add DataTable components with @tanstack/react-table integration
  app/components/data-table-column-header.tsx
  app/components/data-table-pagination.tsx
  app/components/data-table-select-column.tsx
  app/components/data-table-view-options.tsx
  app/components/data-table.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add shadcn ContextMenu component
  app/components/ui/context-menu.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add DatePicker, DateRangePicker, and MultipleDatePicker components
  app/components/date-picker.tsx
  app/components/date-range-picker.tsx
  app/components/multiple-date-picker.tsx
Due: eslint --fix

Fix ToasterProps type import
  app/components/ui/sonner.tsx
Due: eslint --fix

Refactor useIsMobile hook for improved mobile detection
  app/hooks/use-is-mobile.ts
Due: eslint --fix

Add Zustand package
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add ThemeProvider and Zustand-based theme management
  app/context/theme-context.tsx
  app/hooks/use-theme-store.ts
  app/root.tsx
Due: eslint --fix

Add Toaster component for notifications in App layout
  app/root.tsx
Due: eslint --fix

Add environment configuration files and update .gitignore
  .env.example
  .env.test
  .gitignore
Due: none

Add environment variable validation and utility function
  app/config/env.ts
  app/lib/utils.ts
Due: eslint --fix

Add Axios package
  app/config/fetch.ts
  app/lib/axios-client.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add TanStack Query package and integrate its ESLint plugin
  app/config/fetch.ts
  app/lib/query-client.ts
  app/root.tsx
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add PWA support with vite-plugin-pwa
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update favicon handling and improve link structure in root component
  app/root.tsx
  public/favicon.ico
  public/icons/favicon.ico
Due: eslint --fix

Add new icon assets for PWA support
  public/icons/android-chrome-192x192.png
  public/icons/android-chrome-512x512-masked.png
  public/icons/android-chrome-512x512.png
  public/icons/apple-touch-icon.png
  public/icons/favicon-16x16.png
  public/icons/favicon-32x32.png
  public/icons/favicon-48x48.png
Due: none

Add PWA manifest and update root component for PWA support
  app/root.tsx
  vite.config.ts
Due: eslint --fix

Update README.md to reflect project branding and features
  README.md
Due: prettier --write

Refactor routing and add landing page layout
  app/modules/public/pages/landing-page.tsx
  app/routes.ts
  app/routes/home.tsx
  app/routes/public/landing.tsx
  app/routes/public/layout.tsx
  app/welcome/logo-dark.svg
  app/welcome/logo-light.svg
  app/welcome/welcome.tsx
Due: eslint --fix

Add ESLint plugin for Zod and update configuration
  app/config/env.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add JSX accessibility plugin and update ESLint configuration
  app/components/ui/pagination.tsx
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Add @axe-core/react package
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add accessibility setup with Axe in the root component
  app/lib/axe.ts
  app/root.tsx
Due: eslint --fix

Update PWA configuration and remove service worker script from root component
  app/root.tsx
  vite.config.ts
Due: eslint --fix

Update TypeScript configuration to include PWA client types
  tsconfig.json
Due: prettier --write

Update Docker image tag in CI workflow
  .github/workflows/docker-image-ci.yml
Due: prettier --write

Refactor CSS styles for improved layout and typography
  app/app.css
Due: prettier --write

Add HeroSection component for enhanced user engagement
  app/modules/public/components/hero-section.tsx
Due: eslint --fix

Update heading styles
  app/app.css
  app/modules/public/components/hero-section.tsx
Due: eslint --fix, prettier --write

Refactor layout component for cleaner structure
  app/routes/public/layout.tsx
Due: eslint --fix

Refactor HeroSection component for improved modularity and readability
  app/modules/public/components/hero-section.tsx
Due: eslint --fix

Update Husky hooks for improved workflow
  .husky/pre-commit
  .husky/pre-push
Due: none

Add SystemOverviewSection component for digital bonding system overview
  app/modules/public/components/system-overview-section.tsx
Due: eslint --fix

Add Icon type definition for improved component integration
  app/types/icon.ts
Due: eslint --fix

Add RoleCard types for enhanced role management
  app/modules/public/types/public-types.ts
Due: eslint --fix

Add public constants for user benefits role cards
  app/modules/public/constants/public-constants.ts
Due: eslint --fix

Add UserBenefitsSection component for role-specific value display
  app/modules/public/components/user-benefits-section.tsx
Due: eslint --fix

Update user benefits section with new constants for title and description
  app/modules/public/components/user-benefits-section.tsx
  app/modules/public/constants/public-constants.ts
Due: eslint --fix

Refactor HeroSection to utilize constants for title and description
  app/modules/public/components/hero-section.tsx
  app/modules/public/constants/public-constants.ts
Due: eslint --fix

Refactor public module constants for improved clarity
  app/modules/public/components/hero-section.tsx
  app/modules/public/components/user-benefits-section.tsx
  app/modules/public/constants/public-constants.ts
Due: eslint --fix
